{% extends "vending/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container-fluid text-white">
  <div class="row my-3 justify-content-center">
    <div class="col-sm-10 col-md-4 col-lg-4 my-2">
      <h3 class="h4 mb-3 text-center text-decoration-underline">List of All Registered Machines</h3>
      <div class="card" data-bs-theme="dark">
        <div class="card-body">

          <div class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Serial number</th>
                  <th>Owner</th>
                  <th>Location</th>
                  <th>Remaining Tokens</th>
                  <th>status</th>
                  <th>Activated</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for machine in machines %}
                <tr>
                  <td scope="row">{{machine.id}}</td>
                  <td>{{machine.name}}</td>
                  <td>{{machine.serial_number}}</td>
                  <td>{{machine.owner}}</td>
                  <td>{{machine.location}}</td>
                  <td>{{machine.remaining_tokens}}</td>
                  <td>
                    {% if machine.remaining_tokens > 0 %}
                    <span class="badge bg-success">Active</span>
                    {% else %}
                    <span class="badge bg-danger">Off</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if machine.activated %}
                    <span class="badge bg-success">Yes</span>
                    {% else %}
                    <span class="badge bg-danger">No</span>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'delete_machine' machine.id %}" style="text-decoration: none; color: red;"><i class="bi bi-trash3-fill"></i></a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-4 col-lg-4 my-2">
      <h3 class="h4 mb-3 text-center text-decoration-underline">Refill Requests</h3>

      <div class="card" data-bs-theme="dark">
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Machine Details</th>
                  <th>Date</th>
                  <th>Paid</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for refill in refills %}
                <form method="post">
                  {% csrf_token %}
                  <tr>
                    <td scope="row">{{refill.machine}}</td>
                    <td>{{refill.date}}</td>
                    <td>{{refill.payment_made}}</td>
                    <td><button class="btn btn-success" value="{{ refill.id }}" name="button">Approve</button></td>
                  </tr>
                </form>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-4 col-lg-4 text-center my-2">
      <div class="card" data-bs-theme="dark">
        <div class="card-body">
          <form action="{% url 'register_machine' %}" method="post">
            {% csrf_token %}
            <h2 class="my-2 display-6 logo">Machine Registration</h2>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Create Machine</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}