{% extends "vending/base.html" %}

{% block title %}Dashboard - Vending Machine Dashboard{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New machine registration</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissible fade show alert-dark" role="alert">
          <strong>Hey {{request.user.username}}</strong> Did you know that you are granted 25 tokens for every new
          machine registered.?
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form class="row g-3 was-validated" validate method="post">
          {% csrf_token %}

          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control bg-dark text-white" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                name="name" required>
              <div class="invalid-feedback">
                Please choose a username for your machine.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Location</label>
            <input type="text" class="form-control bg-dark text-white" id="validationCustom01" required name="location">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Serial Number</label>
            <input type="text" class="form-control bg-dark text-white" id="validationCustom03" required name="serial_number">
            <div class="invalid-feedback">
              Please provide a serial_number.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Machine Type</label>
            <select class="form-select bg-dark text-white" id="validationCustom04" required name="machine_typer">
              <option selected disabled value="">Choose...</option>
              <option>Milk</option>
              <option>Juice</option>
              <option>Cooking oil</option>
              <option>Other</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid value.
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container text-white">
  <h1 class="welcome mt-4">Welcome back {{request.user.username}} 👋</h1>

  <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 col-sm-10 mb-4">
        <p class="section-title">Vending Machines Overview</p>
        <div class="stat-card">
          <div class="row justify-content-center">
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Vending Machines </div>
              <div class="stat-value">{{machines | length}}</div></div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Transactions</div>
              <div class="stat-value">Ksh {{total_transactions}}</div>
            </div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Sales</div>
              <div class="stat-value">Ksh {{total_sales}}</div></div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title py-2">Generate Report</div>
              <a class="view-btn" href="{% url 'user_overview_pdf' %}" style="text-decoration: none;">Download PDF</a>
            </div>
          </div>
          <div class="row justify-content-center">
            <button class="view-btn"   data-bs-toggle="modal"
            data-bs-target="#exampleModal" type="button">+ New machine</button>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-10 mb-4">
        <p class="section-title">Smart Home Overview</p>
      </div>
  </div>
</div>


{% endblock %}