{% extends "vending/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Dashboard - Vending Machine Dashboard{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New shop registration</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissible fade show alert-dark" role="alert">
          <strong>Hey {{request.user.username}}</strong> Did you know that you are granted 25 tokens for every new
          machine registered? To begin enter the serial number of the machine.
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add machine</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container text-white">
  <h1 class="welcome mt-4">Welcome back {{request.user.username}} 👋</h1>

  <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 col-sm-10 mb-4">
        <p class="section-title">Vending Machines Overview</p>
        <div class="stat-card">
          <div class="row justify-content-center">
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Shops</div>
              <div class="stat-value">{{shops | length}}</div></div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Customers Served</div>
              <div class="stat-value">{{customers}}</div>
            </div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Sales</div>
              <div class="stat-value">{{total_sales}}</div></div>
            <div class="col-6 mb-2 text-center">
              <div class="stat-title">Total Amount</div>
              <div class="stat-value">Ksh: {{amount}}</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <button class="view-btn"   data-bs-toggle="modal"
            data-bs-target="#exampleModal" type="button"><i class="bi bi-plus-lg"></i> New machine</button>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-10 mb-4">
        <p class="section-title">Smart Home Overview</p>
      </div>
  </div>
</div>


{% endblock %}