<nav class="navbar mb-2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="logo" href="{% url 'home' %}">VendorFlow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="navbar-toggler-icon"></span></button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="margin-bottom: -20px;">
        <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel">Quick Actions</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <hr>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Machines</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">

              {% for machine in machines %}

              {% if machine == '' %}
              <a class="dropdown-item">No vending machines were found</a>
              {% else %}
              <a class="dropdown-item" href="{% url 'specific_machine' machine.id %}">{{ forloop.counter}}: {{machine.name}} located in {{machine.location}}</a>
              {% endif %}

              {% endfor %}

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="gadgetsId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Smart Home Gadgets</a>
            <div class="dropdown-menu" aria-labelledby="gadgetsId">


              <a class="dropdown-item">These feature hasn't been made yet.</a>
            </div>
          </li>
          <li class="nav-item mt-3">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type='submit' class="btn btn-outline-primary">Logout</button>
            </form>
          </li>
        </ul>
      </div>
      <div class="offcanvas-footer p-3 footer">
        <p class="text-center">© 2025 VendorFlow</p>
    </div>
    </div>
  </div>
</nav>