{% extends 'vending/base.html' %}
{% load crispy_forms_tags %}


{% block title %}

User Registration
{% endblock title %}


{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10 col md-8 col-lg-6 text-center mt-auto mb-auto">
      <div class="card rounded-2">
        <div class="card-body">
          <h2 class="my-2 display-6 fw-bold">Register</h2>
          <form id="registrationForm" method="post">
            {% csrf_token %}
            {{ form| crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="my-2">Already have an account? <a href="{% url 'login' %}">Login</a></p>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}