{% extends 'vending/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Shop Detail - Vending Machine Dashboard{% endblock %}

{% block content %}
<div class="container text-white">
    <div class="row mb-4 mt-2">
      <div class="col">
        <h2 class="h3 mb-0">{{shop.name}} shop located in {{shop.location}}</h2>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="stat-card">
          <div class="card-body">
            <p class="card-text"><strong>Name: </strong> {{ shop.name}}</p>
            <p class="card-text"><strong>Location: </strong> {{ shop.location }}</p>
            <p class="card-text"><strong>Customers Served: </strong> {{ shop.customers_served }}</p>
            <p class="card-text"><strong>Amount gained: </strong>Ksh {{ shop.amount }}</p>
            <p class="card-text"><strong>Total Sales: </strong>{{ shop.total_sales }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h3 class="h4 mb-3">Machines in the shop</h3>
        <div class="stat-card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div class="table-responsive">
                <table class="transactions-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Serial number</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Remaining Tokens</th>
                      <th>Amount gained</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for machine in machines %}

                    <tr>
                      <td scope="row">{{forloop.counter}}</td>
                      <td scope="row"><a href="{% url 'specific_machine' machine.id %}" style="text-decoration: none;">{{machine.serial_number}}</a></td>
                      <td>{{machine.name}}</td>
                      <td>{{machine.machine_type}}</td>
                      <td>{{machine.remaining_tokens}}</td>
                      <td>{{machine.total_amount}}</td>
                      <td><a href="{% url 'delete_machine' machine.id %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mb-4">
      <div class="col">
        <h3 class="h4 mb-3">Transaction History</h3>
        <div class="stat-card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div class="table-responsive">
                <table class="transactions-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Volume</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for transaction in transactions %}

                    <tr>
                      <td scope="row">{{transaction.id}}</td>
                      <td>{{transaction.amount}}</td>
                      <td>{{transaction.volume}}</td>
                      <td>{{transaction.date}}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}